*.out
SI
test.php
models/**
datasets/*
datasets/arff/**
cachegrind.out*
*.arff
*.sql
*.csv
local-lib.php
local_lib.py
visitors.log
paps.php
paps.py
lib.py
paps-todo
__pycache__/
arff/
*.sh
DOMANDE

!**/.gitignore
!datasets/arff/.gitignore
